<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Basic MVVM Router Interactor Creator</string>
	<key>Summary</key>
	<string>Basic MVVM Router Interactor Creator</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MVVMRI</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name</string>
			<key>Description</key>
			<string>MVVM template</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Module</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___FILEBASENAME___/___FILEBASENAME___Interactor.swift</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Interactor.swift</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/___FILEBASENAME___Router.swift</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___Router.swift</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/___FILEBASENAME___ViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewModel.swift</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
		<key>___FILEBASENAME___/___FILEBASENAME___ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>___FILEBASENAME___ViewController.swift</string>
			<key>Group</key>
			<array>
				<string>___FILEBASENAME___</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___FILEBASENAME___/___FILEBASENAME___Interactor.swift</string>
		<string>___FILEBASENAME___/___FILEBASENAME___Router.swift</string>
		<string>___FILEBASENAME___/___FILEBASENAME___ViewModel.swift</string>
		<string>___FILEBASENAME___/___FILEBASENAME___ViewController.swift</string>
	</array>
</dict>
</plist>
