<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>Platforms</key>
	<array/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>ViewName</string>
			<key>Description</key>
			<string>The name of View</string>
			<key>Type</key>
			<string>text</string>
			<key>Not Persisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
